<ion-header class="gradientHeader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="./assets/imgs/Logo.png">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="tertiary" shape="round" fill="solid">
        <img style="margin-right: 7px;" src="./assets/imgs/Follow.png"> Follow
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullScreen="true">

</ion-content>