<ion-header class="gradientHeader">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>terms services</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur enim, atque perferendis culpa est rerum ea voluptatibus omnis quidem nostrum dolorum maiores quas, repellendus perspiciatis impedit fuga sapiente vitae ullam.
    </p>
</ion-content>