<ion-header class="gradientHeader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-item class="ion-no-padding bg-none" lines="none">
        <ion-label>
          <h5 class="white">Ava Max</h5>
          <p class="white"><small>last seen today at 2:45</small></p>
        </ion-label>
      </ion-item>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <img src="./assets/imgs/star 1.png">
      </ion-button>
      <ion-button>
        <img src="./assets/imgs/flag 1.png">
      </ion-button>
      <ion-button>
        <img src="./assets/imgs/slash 1.png">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="lighter" class="ion-padding" fullScreen="true">

  <div class="incomingMsg">
    <p class="chatMsg">I'm doing a complicated form for
      this my self this will be in admin
      panel, at customer side
      <br /> <span class="ion-float-right msgTime">02:34</span>
    </p>
  </div>

  <div class="incomingMsg">
    <p class="chatMsg">Ok look i like this work
      <br /> <span class="ion-float-right msgTime">02:34</span>
    </p>
  </div>

  <div class="outgoingMsg">
    <p class="chatMsg">Thanks men
      <br /> <span class="msgTime"><ion-icon name="checkmark-done-outline"></ion-icon> 02:34</span>
    </p>
  </div>

  <div class="outgoingMsg">
    <p class="chatMsg">information; workshops are for solving a problem or reaching an actionable goal.
      <br /> <span class="msgTime"><ion-icon name="checkmark-done-outline"></ion-icon> 02:34</span>
    </p>
  </div>

  <div class="outgoingMsg">
    <p class="chatMsg">Now do this
      <br /> <span class="msgTime"><ion-icon name="checkmark-done-outline"></ion-icon> 02:34</span>
    </p>
  </div>

  <div class="incomingMsg">
    <p class="chatMsg">I'm doing a complicated form for
      this my self this will be in admin
      panel, at customer side
      <br /> <span class="ion-float-right msgTime">02:34</span>
    </p>
  </div>

  <div class="incomingMsg">
    <p class="chatMsg">Ok look i like this work
      <br /> <span class="ion-float-right msgTime">02:34</span>
    </p>
  </div>

  <div class="outgoingMsg">
    <p class="chatMsg">Thanks men
      <br /> <span class="msgTime"><ion-icon name="checkmark-done-outline"></ion-icon> 02:34</span>
    </p>
  </div>

  <div class="outgoingMsg">
    <p class="chatMsg">information; workshops are for solving a problem or reaching an actionable goal.
      <br /> <span class="msgTime"><ion-icon name="checkmark-done-outline"></ion-icon> 02:34</span>
    </p>
  </div>

  <div class="outgoingMsg">
    <p class="chatMsg">Now do this
      <br /> <span class="msgTime"><ion-icon name="checkmark-done-outline"></ion-icon> 02:34</span>
    </p>
  </div>

</ion-content>

<ion-footer>
  <div class="bg-white" style="padding: 10px;">
    <ion-item lines="none">
      <img class="slotedStart" slot="start" src="./assets/imgs/Camera.png">
      <ion-input typ="text" placeholder="Message"></ion-input>
      <img class="slotedEnd" src="/assets/imgs/Microphone.png" slot="end">
      <img class="slotedEnd" src="/assets/imgs/Image (12).png" slot="end">
      <img class="slotedEnd" src="/assets/imgs/More.png" slot="end">
    </ion-item>
  </div>
</ion-footer>